{% load static %}
<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Title -->
        <title>مدیریت مجموعه و وبسایت / نوین فناوری</title>

        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Favicon (http://www.favicon-generator.org/) -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

        <!-- Libs and Plugins CSS -->
        <link rel="stylesheet" href="{% static "/vendor/normalize/normalize.min.css" %}" />
        <!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
        <link rel="stylesheet" href="{% static "/vendor/fontawesome/css/fontawesome-all.min.css" %}" />
        <!-- Font Icons CSS (https://fontawesome.com) Free version! -->
        <link rel="stylesheet" href="{% static "/vendor/swiper/css/swiper-bundle.min.css" %}" />
        <!-- Swiper CSS (https://swiperjs.com/) -->
        <link rel="stylesheet" href="{% static "/vendor/lightgallery/css/lightgallery.min.css" %}" />
        <!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

        <!-- Template master CSS -->
        <link rel="stylesheet" href="{% static "/css/helper.css" %}" />
        <link rel="stylesheet" href="{% static "/css/theme.css" %}" />
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	* Note: there may be classes that are specific to this page only!
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner *************
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!)
			=========================== -->
            <div id="page-transition">
                <div class="ptr-overlay"></div>
                <div class="ptr-preloader">
                    <div class="ptr-prel-content">
                        <!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
                        <img src="{% static "/img/logo-light.png" %}" class="ptr-prel-image tt-logo-light" alt="لوگو" />
                    </div>
                    <!-- /.ptr-prel-content -->
                </div>
                <!-- /.ptr-preloader -->
            </div>
            <!-- End page transition -->

            <!-- Begin magic cursor
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- *****************************************
			*********** Begin scroll container ***********
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                <header id="tt-header" class="tt-header-fixed">
                    <div class="tt-header-inner">
                        <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag!). Note: additionally you can use prepared helper class "max-width-*" to add custom width to "tt-wrap". Example: "max-width-1500" (class "tt-wrap" is still required!). More info about helper classes can be found in the file "helper.css". -->

                        <div class="tt-header-col">
                            <!-- Begin logo
							================ -->
                            <div class="tt-logo">
                                <a href="{% url "landing_home:landing_home" %}">
                                    <!-- Hint: You may need to change the img height to match your logo type. You can do this from the "theme.css" file (find: ".tt-logo img"). -->
                                    <img src="{% static "/img/logo-light.png" %}" class="tt-logo-light magnetic-item" alt="لوگو" />
                                    <!-- logo light -->
                                    <img src="{% static "/img/logo-dark.png" %}" class="tt-logo-dark magnetic-item" alt="لوگو" />
                                    <!-- logo dark -->
                                </a>
                            </div>
                            <!-- End logo -->
                        </div>
                        <!-- /.tt-header-col -->

                        <div class="tt-header-col">
                            <!-- Begin overlay menu toggle button -->
                            <div id="tt-ol-menu-toggle-btn-wrap">
                                <div class="tt-ol-menu-toggle-btn-text-wrap hide-cursor">
                                    <div class="tt-ol-menu-toggle-btn-text">
                                        <span class="text-menu" data-hover="گشودن">منو</span>
                                        <span class="text-close">بستن</span>
                                    </div>
                                    <!-- /.tt-ol-menu-toggle-btn-text -->
                                </div>
                                <!-- /.tt-ol-menu-toggle-btn-text-wrap -->
                                <div class="tt-ol-menu-toggle-btn-holder">
                                    <a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
                                </div>
                                <!-- /.tt-ol-menu-toggle-btn-holder -->
                           </div>
                            <!-- End overlay menu toggle button -->

                            <!-- Begin overlay menu
							========================
							* Use class "tt-ol-menu-count" to enable menu counter.
							-->
                            <nav class="tt-overlay-menu tt-ol-menu-count">
                                <div class="tt-ol-menu-ghost">کــــــــاوش</div>
                                <div class="tt-ol-menu-holder">
                                    <div class="tt-ol-menu-inner tt-wrap">
                                        <div class="tt-ol-menu-content">
                                            <!-- Begin menu list -->
                                            <ul class="tt-ol-menu-list">
{#                                                todo#}
                                                <li class="active"><a href="{% url "landing_home:landing_home" %}">صفحه اصلی</a></li>

                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="https://itech-co.ir">دپارتمان آموزشی</a>
{#                                                        <div class="tt-ol-submenu-caret-wrap">#}
{#                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>#}
{#                                                        </div>#}
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="#">درباره</a>
                                                        <div class="tt-ol-submenu-caret-wrap">
                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                        </div>
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu-trigger -->
                                                    <div class="tt-ol-submenu">
                                                        <ul class="tt-ol-submenu-list">
                                                            <li><a href="{% url "about_us:about_us" %}">درباره ما</a></li>
                                                            <li><a href="{% url "about_me:about_me" %}">مدیریت و وبسایت</a></li>
                                                        </ul>
                                                        <!-- /.tt-ol-submenu-list -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu -->
                                                </li>
                                                <!-- End submenu (sub-master) -->

                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="#">مسابقات</a>
                                                        <div class="tt-ol-submenu-caret-wrap">
                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                        </div>
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu-trigger -->
                                                    <div class="tt-ol-submenu">
                                                        <ul class="tt-ol-submenu-list">


                                                            <!-- Begin submenu
															=================== -->
                                                            <li class="tt-ol-submenu-wrap">
                                                                <div class="tt-ol-submenu-trigger">
                                                                    <a href="{% url "competitions:competitions" %}" class="tt-ol-submenu-link">بانک سوالات</a>
{#                                                                    <div class="tt-ol-submenu-caret-wrap">#}
{#                                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>#}
{#                                                                    </div>#}
                                                                    <!-- /.tt-ol-submenu-caret-wrap -->
                                                                </div>

                                                            </li>
                                                            <!-- End submenu -->
                                                        </ul>
                                                        <!-- /.tt-ol-submenu-list -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu -->
                                                </li>
                                                <!-- End submenu (sub-master) -->

                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="#">تماس</a>
                                                        <div class="tt-ol-submenu-caret-wrap">
                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                        </div>
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu-trigger -->
                                                    <div class="tt-ol-submenu">
                                                        <ul class="tt-ol-submenu-list">
                                                            <li><a href="{% url "cooperation:cooperation" %}">همکاری</a></li>
                                                            <li><a href="{% url 'contact_us:contact_us' %}">تماس با ما</a></li>
                                                        </ul>
                                                        <!-- /.tt-ol-submenu-list -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu -->
                                                </li>
                                                <!-- End submenu (sub-master) -->
                                            </ul>
                                            <!-- End menu list -->

                                            <!-- Begin overlay menu social links
											===================================== -->
                                           <ul class="tt-ol-menu-social">
                                                <li><h6 class="tt-ol-menu-social-heading">لینک شبکه های اجتماعی:</h6></li>
                                                <li><a href="https://www.instagram.com/_novintech_?igsh=MWtjdGxxNjFubXR5OQ==" target="_blank" rel="noopener">اینستاگرام</a></li>
                                                <li><a href="https://t.me/Parnian_Zare" target="_blank" rel="noopener">تلگرام</a></li>
                                                <li><a href="https://www.linkedin.com/" target="_blank" rel="noopener">لینکدین</a></li>
                                                <li><a href="mailto:itechco.ir@gmail.com" target="_blank" rel="noopener">ایمیل</a></li>
                                            </ul>
                                            <!-- End overlay menu social links -->
                                        </div>
                                        <!-- /.tt-ol-menu-content -->
                                    </div>
                                    <!-- /.tt-ol-menu-inner -->
                                </div>
                                <!-- /.tt-ol-menu-holder -->
                            </nav>
                            <!-- End overlay menu -->
                        </div>
                        <!-- /.header-col -->
                    </div>
                    <!-- /.header-inner -->
                </header>
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap ***********
				************************************** -->
                <div id="content-wrap">
                    <!-- ========================
					///// Begin page header /////
					=============================
					* Use class "ph-full" to enable fullscreen size (no effect on smaller screens!).
					* Use class "ph-cap-sm", "ph-cap-lg", "ph-cap-xlg" or "ph-cap-xxlg" to set caption size (no class = default size).
					* Use class "ph-center" to enable content center position.
					* Use class "ph-image-cropped" to crop image (if image is used). It uses fixed image dimensions (no effect with class "ph-bg-image"!).
					* Use class "ph-bg-image" to enable page header background image. Note: "ph-caption-title-ghost" will be disabled if you enable this option!
					* Use class "ph-bg-image-is-light" if needed, it makes the elements dark and more visible if you use a very light background image (effect only with class "ph-bg-image").
					* Use class "ph-image-cover-*" to set image overlay opacity. For example "ph-image-cover-2" or "ph-image-cover-2-5" (up to "ph-image-cover-9-5").
					* Use class "ph-content-parallax" to enable content parallax.
					* Use class "ph-stroke" to enable caption title stroke style.
					* Use class "ph-ghost-scroll" to enable the scroll effect to caption title ghost (no effect with class "ph-center"!).
					-->
                    <div id="page-header" class="ph-full ph-cap-lg ph-ghost-scroll ph-image-cropped ph-content-parallax">
                        <div class="page-header-inner tt-wrap">
                            <!-- Begin page header image
							============================= -->
                            <div class="ph-image">
                                <div class="ph-image-inner">
                                    <img src="{% static "/img/team/DR.PZ.jpg" %}" alt="تصویر" />
                                </div>
                            </div>
                            <!-- End page header image -->

                            <!-- Begin page header caption
							===============================
							Use class "max-width-*" to set caption max width if needed. For example "max-width-1000". More info about helper classes can be found in the file "helper.css".
							-->
                            <div class="ph-caption max-width-1000">
                                <div class="ph-caption-subtitle">
                                    <div class="ph-appear">مدیریت مجموعه</div>
                                </div>
                                <h1 class="ph-caption-title">
                                    <div class="ph-appear">
                                        دکتر پرنیان<br />
                                        زارع
                                    </div>
                                    <!-- You can use <br> to break a text line if needed -->
                                </h1>
                                <div class="ph-caption-title-ghost">
                                    <div class="ph-appear">دکتر پرنیان زارع</div>
                                </div>
                            </div>
                            <!-- End page header caption -->
                        </div>
                        <!-- /.page-header-inner -->

                        <!-- Begin scroll down (you can change "data-offset" to set scroll top offset)
						======================= -->
                        <div class="tt-scroll-down">
                            <a href="#page-content" class="tt-sd-inner ph-appear" data-offset="0">
                                <div class="tt-sd-arrow">
                                    <div class="tt-sd-arrow-inner"></div>
                                </div>
                                <div class="tt-sd-text">اسکرول</div>
                            </a>
                        </div>
                        <!-- End scroll down -->
                    </div>
                    <!-- End page header -->

                    <!-- *************************************
					*********** Begin page content ***********
					************************************** -->
                    <div id="page-content">
                        <!-- =======================
						///// Begin tt-section /////
						============================
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
                        <div class="tt-section padding-bottom-xlg-150">
                            <div class="tt-section-inner tt-wrap max-width-900">
                                <div class="text-xxlg">
                                    <h2 class="anim-fadeinup">درباره مدیر مجموعه</h2>

                                    <p class="anim-fadeinup">
                                       دکتر پرنیان زارع، بنیان‌گذار و مدیر مجموعه نوین‌تک، از چهره‌های برجسته و پیشرو در حوزه فناوری اطلاعات و آموزش است. با بیش از یک دهه تجربه در توسعه نرم‌افزار و آموزش تخصصی، ایشان نقشی کلیدی در پیشبرد پروژه‌های فناورانه و توانمندسازی جامعه علمی و حرفه‌ای ایفا کرده‌اند.
                                        
                                    </p>

                                    <p class="anim-fadeinup">
                                        دکتر زارع به‌عنوان یک سینیور دولوپر، در پروژه‌های ملی و بین‌المللی متعددی مشارکت داشته است. توانایی منحصر‌به‌فرد ایشان در طراحی و پیاده‌سازی راهکارهای نرم‌افزاری پیشرفته، موجب شده است تا بسیاری از سازمان‌ها و کسب‌وکارها از خدمات ایشان بهره‌مند شوند. نگاه دکتر زارع به توسعه نرم‌افزار، فراتر از کدنویسی است؛ او معتقد است که یک راه‌حل نرم‌افزاری باید همواره کارآمد، مقیاس‌پذیر و همگام با نیازهای روز باشد.
                                    </p>

                                    <p class="anim-fadeinup">
                                        یکی از حوزه‌های تاثیرگذار فعالیت دکتر زارع، نقش پررنگ ایشان در آموزش است. به‌عنوان مدرس ارشد در دانشگاه‌ها و آموزشگاه‌های معتبر، دکتر زارع همواره با شور و اشتیاق به انتقال دانش خود پرداخته است. صدها دانشجو و متخصص فناوری اطلاعات در دوره‌های آموزشی ایشان شرکت کرده‌اند و از دانش و بینش او در مسیر پیشرفت حرفه‌ای خود بهره‌برده‌اند. ایشان بر این باور است که آموزش، کلید باز کردن درهای نوآوری و موفقیت است و به همین دلیل، همواره تلاش می‌کند دوره‌هایی طراحی کند که نه‌تنها به نیازهای امروز پاسخ دهد، بلکه افراد را برای چالش‌های آینده آماده سازد.
                                    </p>
                                    
                                     <p class="anim-fadeinup">
                                         به‌عنوان مدیر مجموعه نوین‌تک، دکتر زارع چشم‌انداز روشنی برای آینده دارد: ساخت بستری که در آن فناوری، آموزش و نوآوری به‌صورت یکپارچه در خدمت ارتقای کیفیت زندگی و پیشرفت حرفه‌ای افراد قرار گیرد. ایشان باور دارد که با ترکیب دانش، تجربه و اشتیاق، می‌توان دنیایی بهتر ساخت؛ دنیایی که در آن همه افراد، ابزارهای لازم برای دستیابی به موفقیت را در اختیار داشته باشند.

با رهبری دکتر پرنیان زارع، نوین‌تک در مسیر تعالی فناوری و آموزش، پیشگام و الهام‌بخش است.


                                    </p>
                                </div>
                                
                            </div>
                            <!-- /.tt-section-inner -->
                        </div>
                        <!-- End tt-section -->
                        
                        <hr>
                        
                        <!-- *************************************
					*********** Begin page content ***********
					************************************** -->
                    <div id="page-content">
                        <!-- =======================
						///// Begin tt-section /////
						============================
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
                        <div class="tt-section padding-bottom-xlg-150">
                            <div class="tt-section-inner tt-wrap max-width-900">
                                <div class="text-xxlg">
                                    <h2 class="anim-fadeinup">راهبری وبسایت</h2>
                                    
                                     <p class="anim-fadeinup">
                                       من محمدحسین مهارلویی هستم، دانشجوی مهندسی کامپیوتر و توسعه‌دهنده‌ای که با شور و اشتیاق در دنیای فناوری فعالیت می‌کنم. علاقه من به برنامه‌نویسی و توسعه وب از همان ابتدا باعث شد که مسیر یادگیری و رشد خود را با جدیت دنبال کنم.

                                        من به‌عنوان یک توسعه‌دهنده، به خلق راهکارهای نرم‌افزاری نوآورانه علاقه دارم و همواره در تلاش هستم تا با ترکیب دانش تئوری و تجربه عملی، پروژه‌هایی کارآمد و با کیفیت بالا ارائه دهم. تمرکز من بر طراحی و پیاده‌سازی سیستم‌هایی است که نه تنها نیاز کاربران را برآورده کند، بلکه تجربه‌ای فراتر از انتظارشان به ارمغان آورد.
                                        
                                        اشتیاق به یادگیری، توجه به جزئیات و تعهد به کیفیت سه ویژگی اصلی من در انجام هر پروژه‌ای است. من باور دارم که هر چالش فرصتی برای یادگیری و پیشرفت است و همین دیدگاه باعث شده تا همواره به دنبال ارتقای مهارت‌هایم باشم.
                                        
                                        به دنیای من خوش آمدید، جایی که کدها زنده می‌شوند و ایده‌ها به واقعیت تبدیل می‌شوند.
                                    </p>
                                </div>
                                
                            </div>
                            <div align="center">
                                <a href="https://www.linkedin.com/in/hosseinmaharlooei/" class="cursor-alter" target="_blank" data-cursor="Linkedin" > 
                                    <img src="{% static "/img/DevLOGO2.png" %}" class="ptr-prel-image tt-logo-light" alt="DevLogo" />
                                </a>
                            </div>
                            
                            <!-- /.tt-section-inner -->
                        </div>
                        <!-- End tt-section -->
                        
                        <hr>


                        <!-- =======================
						///// Begin tt-section /////
						============================
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
                        <div class="tt-section padding-bottom-xlg-150">
                            <div class="tt-section-inner tt-wrap">
                                <!-- Begin page nav
								====================
								* Use class "tt-pn-center" to align page nav to center.
								* Use class "tt-pn-stroke" to enable title stroke style.
								-->
                                <div class="tt-page-nav tt-pn-stroke tt-pn-center">
                                    <a href="{% url "about_us:about_us" %}" class="tt-pn-link anim-fadeinup" data-cursor="<i class='fas fa-arrow-left'></i>">
                                        <div class="tt-pn-title">درباره ما</div>
                                        <div class="tt-pn-hover-title">درباره ما</div>
                                    </a>
                                    <!-- /.tt-pn-link -->
                                    <div class="tt-pn-subtitle anim-fadeinup">تیم نوین‌تک</div>
                                </div>
                                <!-- End page nav -->
                            </div>
                            <!-- /.tt-section-inner -->
                        </div>
                        <!-- End tt-section -->
                    </div>
                    <!-- End page content -->

                    <!-- ======================
					///// Begin tt-footer /////
					=========================== -->
                    <footer id="tt-footer">
                        <div class="tt-footer-inner">
                            <!-- Begin footer column
							========================= -->
                            <div class="footer-col tt-align-center-right">
                                <div class="footer-col-inner">
                                    <a href="#" class="tt-btn tt-btn-link scroll-to-top">
                                        <span class="tt-btn-icon"><i class="fas fa-arrow-up"></i></span>
                                        <div data-hover="بازگشت به بالا">بازگشت به بالا</div>
                                    </a>
                                </div>
                                <!-- /.footer-col-inner -->
                            </div>
                            <!-- Begin footer column -->

                            <!-- Begin footer column
							========================= -->
                            <div class="footer-col tt-align-center order-m-last">
                                <div class="footer-col-inner">
                                    <div class="tt-copyright text-gray">
                                        <div data-hover="© تمام حقوق محفوظ و متعلق به شرکت نوین فناوری خبره بنیان است.">© تمام حقوق محفوظ و متعلق به شرکت نوین فناوری خبره بنیان است.</div>
                                    </div>
                                </div>
                                <!-- /.footer-col-inner -->
                            </div>
                            <!-- Begin footer column -->

                            <!-- Begin footer column
							========================= -->
                            <div class="footer-col tt-align-center-left">
                                <div class="footer-col-inner">
                                    <div class="footer-social">
                                        <div class="footer-social-text"><span>دنبال کنید</span><i class="fas fa-share-alt"></i></div>
                                        <div class="social-buttons">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="https://twitter.com/" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="https://www.youtube.com/" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>
                                                </li>
                                                <li>
                                                    <a href="https://dribbble.com/" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-dribbble"></i></a>
                                                </li>
                                                <li>
                                                    <a href="https://www.behance.net/" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.social-buttons -->
                                    </div>
                                    <!-- /.footer-social -->
                                </div>
                                <!-- /.footer-col-inner -->
                            </div>
                            <!-- Begin footer column -->
                        </div>
                        <!-- /.tt-section-inner -->
                    </footer>
                    <!-- End tt-footer -->
                </div>
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->

        <!-- Core JS -->
        <script src="{% static "/vendor/jquery/jquery.min.js" %}"></script>
        <!-- jquery JS (https://jquery.com) -->

        <!-- Libs and Plugins JS -->
        <script src="{% static "/vendor/gsap/gsap.min.js" %}"></script>
        <!-- GSAP JS (https://greensock.com/gsap/) -->
        <script src="{% static "/vendor/gsap/ScrollToPlugin.min.js" %}"></script>
        <!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
        <script src="{% static "/vendor/gsap/ScrollTrigger.min.js" %}"></script>
        <!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->

        <script src="{% static "/vendor/smooth-scrollbar.js" %}"></script>
        <!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
        <script src="{% static "/vendor/swiper/js/swiper-bundle.min.js" %}"></script>
        <!-- Swiper JS (https://swiperjs.com/) -->
        <script src="{% static "/vendor/isotope/imagesloaded.pkgd.min.js" %}"></script>
        <!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
        <script src="{% static "/vendor/isotope/isotope.pkgd.min.js" %}"></script>
        <!-- Isotope JS (http://isotope.metafizzy.co) -->
        <script src="{% static "/vendor/isotope/packery-mode.pkgd.min.js" %}"></script>
        <!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
        <script src="{% static "/vendor/lightgallery/js/lightgallery-all.min.js" %}"></script>
        <!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
        <script src="{% static "/vendor/jquery.mousewheel.min.js" %}"></script>
        <!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->

        <!-- Template master JS -->
        <script src="{% static "/js/theme.js" %}"></script>
    </body>
</html>