{% load static %}
<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Title -->
        <title>کوییز / نوین فناوری</title>

        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Favicon (http://www.favicon-generator.org/) -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

        <!-- Libs and Plugins CSS -->
        <link rel="stylesheet" href="{% static "/vendor/normalize/normalize.min.css" %}" />
        <!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
        <link rel="stylesheet" href="{% static "/vendor/fontawesome/css/fontawesome-all.min.css" %}" />
        <!-- Font Icons CSS (https://fontawesome.com) Free version! -->
        <link rel="stylesheet" href="{% static "/vendor/swiper/css/swiper-bundle.min.css" %}" />
        <!-- Swiper CSS (https://swiperjs.com/) -->
        <link rel="stylesheet" href="{% static "/vendor/lightgallery/css/lightgallery.min.css" %}" />
        <!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

        <!-- Template master CSS -->
        <link rel="stylesheet" href="{% static "/css/helper.css" %}" />
        <link rel="stylesheet" href="{% static "/css/theme.css" %}" />
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	* Note: there may be classes that are specific to this page only!
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner *************
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!)
			=========================== -->
            <div id="page-transition">
                <div class="ptr-overlay"></div>
                <div class="ptr-preloader">
                    <div class="ptr-prel-content">
                        <!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
                        <img src="{% static "/img/logo-light.png" %}" class="ptr-prel-image tt-logo-light" alt="لوگو" />
                    </div>
                    <!-- /.ptr-prel-content -->
                </div>
                <!-- /.ptr-preloader -->
            </div>
            <!-- End page transition -->

            <!-- Begin magic cursor
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- *****************************************
			*********** Begin scroll container ***********
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                <header id="tt-header" class="tt-header-fixed">
                    <div class="tt-header-inner">
                        <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag!). Note: additionally you can use prepared helper class "max-width-*" to add custom width to "tt-wrap". Example: "max-width-1500" (class "tt-wrap" is still required!). More info about helper classes can be found in the file "helper.css". -->

                        <div class="tt-header-col">
                            <!-- Begin logo
							================ -->
                            <div class="tt-logo">
                                <a href="{% url "landing_home:landing_home" %}">
                                    <!-- Hint: You may need to change the img height to match your logo type. You can do this from the "theme.css" file (find: ".tt-logo img"). -->
                                    <img src="{% static "/img/logo-light.png" %}" class="tt-logo-light magnetic-item" alt="لوگو" />
                                    <!-- logo light -->
                                    <img src="{% static "/img/logo-dark.png" %}" class="tt-logo-dark magnetic-item" alt="لوگو" />
                                    <!-- logo dark -->
                                </a>
                            </div>
                            <!-- End logo -->
                        </div>
                        <!-- /.tt-header-col -->

                        <div class="tt-header-col">
                            <!-- Begin overlay menu toggle button -->
                            <div id="tt-ol-menu-toggle-btn-wrap">
                                <div class="tt-ol-menu-toggle-btn-text-wrap hide-cursor">
                                    <div class="tt-ol-menu-toggle-btn-text">
                                        <span class="text-menu" data-hover="گشودن">منو</span>
                                        <span class="text-close">بستن</span>
                                    </div>
                                    <!-- /.tt-ol-menu-toggle-btn-text -->
                                </div>
                                <!-- /.tt-ol-menu-toggle-btn-text-wrap -->
                                <div class="tt-ol-menu-toggle-btn-holder">
                                    <a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
                                </div>
                                <!-- /.tt-ol-menu-toggle-btn-holder -->
                            </div>
                            <!-- End overlay menu toggle button -->

                            <!-- Begin overlay menu
							========================
							* Use class "tt-ol-menu-count" to enable menu counter.
							-->
                            <nav class="tt-overlay-menu tt-ol-menu-count">
                                <div class="tt-ol-menu-ghost">کــــــــاوش</div>
                                <div class="tt-ol-menu-holder">
                                    <div class="tt-ol-menu-inner tt-wrap">
                                        <div class="tt-ol-menu-content">
                                            <!-- Begin menu list -->
                                            <ul class="tt-ol-menu-list">
{#                                                todo#}
                                                <li class="active"><a href="{% url "landing_home:landing_home" %}">صفحه اصلی</a></li>

                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="https://itech-co.ir">دپارتمان آموزشی</a>
{#                                                        <div class="tt-ol-submenu-caret-wrap">#}
{#                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>#}
{#                                                        </div>#}
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="#">درباره</a>
                                                        <div class="tt-ol-submenu-caret-wrap">
                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                        </div>
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu-trigger -->
                                                    <div class="tt-ol-submenu">
                                                        <ul class="tt-ol-submenu-list">
                                                            <li><a href="{% url "about_us:about_us" %}">درباره ما</a></li>
                                                            <li><a href="{% url "about_me:about_me" %}">درباره من</a></li>
                                                        </ul>
                                                        <!-- /.tt-ol-submenu-list -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu -->
                                                </li>
                                                <!-- End submenu (sub-master) -->

                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="#">مسابقات</a>
                                                        <div class="tt-ol-submenu-caret-wrap">
                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                        </div>
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu-trigger -->
                                                    <div class="tt-ol-submenu">
                                                        <ul class="tt-ol-submenu-list">


                                                            <!-- Begin submenu
															=================== -->
                                                            <li class="tt-ol-submenu-wrap">
                                                                <div class="tt-ol-submenu-trigger">
                                                                    <a href="{% url "competitions:competitions" %}" class="tt-ol-submenu-link">بانک سوالات</a>
{#                                                                    <div class="tt-ol-submenu-caret-wrap">#}
{#                                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>#}
{#                                                                    </div>#}
                                                                    <!-- /.tt-ol-submenu-caret-wrap -->
                                                                </div>

                                                            </li>
                                                            <!-- End submenu -->
                                                        </ul>
                                                        <!-- /.tt-ol-submenu-list -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu -->
                                                </li>
                                                <!-- End submenu (sub-master) -->

                                                <!-- Begin submenu (submenu master)
												==================================== -->
                                                <li class="tt-ol-submenu-wrap">
                                                    <div class="tt-ol-submenu-trigger">
                                                        <a href="#">تماس</a>
                                                        <div class="tt-ol-submenu-caret-wrap">
                                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                        </div>
                                                        <!-- /.tt-ol-submenu-caret-wrap -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu-trigger -->
                                                    <div class="tt-ol-submenu">
                                                        <ul class="tt-ol-submenu-list">
                                                            <li><a href="{% url "cooperation:cooperation" %}">همکاری</a></li>
                                                            <li><a href="{% url 'contact_us:contact_us' %}">تماس با ما</a></li>
                                                        </ul>
                                                        <!-- /.tt-ol-submenu-list -->
                                                    </div>
                                                    <!-- /.tt-ol-submenu -->
                                                </li>
                                                <!-- End submenu (sub-master) -->
                                            </ul>
                                            <!-- End menu list -->

                                            <!-- Begin overlay menu social links
											===================================== -->
                                            <ul class="tt-ol-menu-social">
                                                <li><h6 class="tt-ol-menu-social-heading">لینک شبکه های اجتماعی:</h6></li>
                                                <li><a href="https://www.instagram.com/_novintech_?igsh=MWtjdGxxNjFubXR5OQ==" target="_blank" rel="noopener">اینستاگرام</a></li>
                                                <li><a href="https://t.me/Parnian_Zare" target="_blank" rel="noopener">تلگرام</a></li>
                                                <li><a href="https://www.youtube.com/" target="_blank" rel="noopener">لینکدین</a></li>
                                                <li><a href="mailto:itechco.ir@gmail.com" target="_blank" rel="noopener">ایمیل</a></li>
                                            </ul>
                                            <!-- End overlay menu social links -->
                                        </div>
                                        <!-- /.tt-ol-menu-content -->
                                    </div>
                                    <!-- /.tt-ol-menu-inner -->
                                </div>
                                <!-- /.tt-ol-menu-holder -->
                            </nav>
                            <!-- End overlay menu -->
                        </div>
                        <!-- /.header-col -->
                    </div>
                    <!-- /.header-inner -->
                </header>
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap ***********
				************************************** -->
                <div id="content-wrap">
                    <!-- ========================
					///// Begin page header /////
					=============================
					* Use class "ph-full" to enable fullscreen size (no effect on smaller screens!).
					* Use class "ph-cap-sm", "ph-cap-lg", "ph-cap-xlg" or "ph-cap-xxlg" to set caption size (no class = default size).
					* Use class "ph-center" to enable content center position.
					* Use class "ph-image-cropped" to crop image (if image is used). It uses fixed image dimensions (no effect with class "ph-bg-image"!).
					* Use class "ph-bg-image" to enable page header background image. Note: "ph-caption-title-ghost" will be disabled if you enable this option!
					* Use class "ph-bg-image-is-light" if needed, it makes the elements dark and more visible if you use a very light background image (effect only with class "ph-bg-image").
					* Use class "ph-image-cover-*" to set image overlay opacity. For example "ph-image-cover-2" or "ph-image-cover-2-5" (up to "ph-image-cover-9-5").
					* Use class "ph-content-parallax" to enable content parallax.
					* Use class "ph-stroke" to enable caption title stroke style.
					* Use class "ph-ghost-scroll" to enable the scroll effect to caption title ghost (no effect with class "ph-center"!).
					-->
                    <div id="page-header" class="ph-cap-sm ph-bg-image ph-ghost-scroll ph-image-cover-6 ph-content-parallax">
                        <div class="page-header-inner tt-wrap">
                            <!-- Begin page header image
							============================= -->
                            <div class="ph-image">
                                <div class="ph-image-inner">
                                    <img src="{% static "/img/page-header/blog-ph/blog-ph-1.jpg" %}" alt="تصویر" />
                                </div>
                            </div>
                            <!-- End page header image -->

                            <!-- Begin page header caption
							===============================
							Use class "max-width-*" to set caption max width if needed. For example "max-width-1000". More info about helper classes can be found in the file "helper.css".
							-->
                            <div class="ph-caption max-width-1000">
                                <div class="ph-categories ph-appear">
                                    <a href="" class="ph-category">کوییز</a>
                                    <!-- <a href="blog-archive.html" class="ph-category">Uncategorized</a> -->
                                </div>
                                <h1 class="ph-caption-title">
                                    <div class="ph-appear">آزمون مسابقه جاوا اندروید</div>
                                    <!-- You can use <br> to break a text line if needed -->
                                </h1>
                                <div class="ph-caption-title-ghost">
                                    <div class="ph-appear">مسابقه</div>
                                </div>
                                <div class="ph-meta">
                                    <div class="ph-appear">
                                        <span class="ph-meta-published">21 آبان 1401</span>
                                        <span class="ph-meta-posted-by">توسط: <a href="blog-archive.html" title="محمدحسین مهارلویی">محمدحسین مهارلویی</a></span>
                                    </div>
                                </div>
                                <!-- /.ph-meta -->
                            </div>
                            <!-- End page header caption -->
                        </div>
                        <!-- /.page-header-inner -->

                        <!-- Begin scroll down (you can change "data-offset" to set scroll top offset)
						======================= -->
                        <div class="tt-scroll-down">
                            <a href="#page-content" class="tt-sd-inner ph-appear" data-offset="0">
                                <div class="tt-sd-arrow">
                                    <div class="tt-sd-arrow-inner"></div>
                                </div>
                                <div class="tt-sd-text">اسکرول</div>
                            </a>
                        </div>
                        <!-- End scroll down -->

                        <!-- Begin page header share (share buttons are for design purposes only!)
						============================= -->
                       
                    </div>
                    <!-- End page header -->

                    <!-- *************************************
					*********** Begin page content ***********
					************************************** -->
                    <div id="page-content">
                        <!-- =======================
						///// Begin tt-section /////
						============================
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
                        <div class="tt-section">
                            <div class="tt-section-inner tt-wrap max-width-900">
                                <!-- Begin blog post
								===================== -->
                                <article class="tt-blog-post lightgallery">
                                    <!-- Begin blog post content -->
                                    <div class="tt-blog-post-content">
                                        <p class="text-xlg">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
                                        </p>

                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                            رایانه ای علی الخصوص طراحان خلاقی.
                                        </p>

                                        <h3>عنوان</h3>

                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.
                                        </p>

                                        <!-- Begin post image -->
                                        <figure class="tt-blog-post-image">
                                            <a href="{% static "/img/blog/single/blog-post-1.jpg" %}" class="tt-bpi-link lg-trigger" data-exthumbnail="assets/img/blog/single/thumb/img-4.jpg" data-cursor="مشاهده">
                                                <img class="tt-lazy" src="{% static "/img/low-qlt-thumb.jpg" %}" data-src="{% static "/img/blog/single/blog-post-1.jpg" %}" alt="تصویر" />
                                            </a>
                                            <figcaption class="tt-bpi-caption">عکس توسط <a href="http://unsplash.com/" target="_blank" rel="noopener">Unsplash</a></figcaption>
                                        </figure>
                                        <!-- End post image -->

                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                            رایانه ای علی الخصوص طراحان خلاقی.
                                        </p>

                                        <blockquote class="open-quote">
                                            "زمان شما محدود است، پس آن را با زندگی دیگران هدر ندهید. گرفتار عقاید تعصبی نشوید که زندگی با نتایج تفکر دیگران است."
                                            <footer>استیو جابز</footer>
                                        </blockquote>

                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                            رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                        </p>
                                    </div>
                                    <!-- End blog post content -->

                                    <!-- Begin blog post tags -->
                                    <div class="tt-blog-post-tags">
                                        <ul>
                                            <li><span>برچسب ها:</span></li>
                                            <li><a href="blog-archive.html">#عکاسی</a></li>
                                            <li><a href="blog-archive.html">#سفر</a></li>
                                            <li><a href="blog-archive.html">#حرکت</a></li>
                                        </ul>
                                    </div>
                                    <!-- End blog post tags -->

                                    <!-- Begin blog post share (Note: for design purposes only!)
									===========================
									* Use class "bss-fixed-bottom" to enable post share fixed bottom position (effect only on small screens!!!).
									-->
                                    
                                    <!-- End post comment form -->
                                    <form id="tt-post-comment-form" class="tt-form-filled anim-fadeinup">
                                        <h4 class="tt-post-comment-form-heading">نظر بدهید:</h4>
                                        <div class="tt-row">
                                            <div class="tt-col-lg-6">
                                                <div class="tt-form-group">
                                                    <label>نام <span class="required">*</span></label>
                                                    <input class="tt-form-control" id="84990245" type="text" placeholder="" required />
                                                </div>
                                            </div>
                                            <div class="tt-col-lg-6">
                                                <div class="tt-form-group">
                                                    <label>نام خانوادگی <span class="required">*</span></label>
                                                    <input class="tt-form-control" id="84990245+1" type="text" placeholder="" required />
                                                </div>
                                            </div>
                                            <!-- /.col -->

                                            <div class="tt-col-lg-6">
                                                <div class="tt-form-group">
                                                    <label>شماره تماس<span class="small text-gray">*</span></label>
                                                    <input class="tt-form-control" id="19833520+1" type="tel" pattern="[0]{1}[9]{1}[0-9]{9}" placeholder="09..."  required/>
                                                </div>
                                            </div>
                                            <div class="tt-col-lg-6">
                                                <div class="tt-form-group">
                                                    <label>نشانی ایمیل <span class="small text-gray">*</span></label>
                                                    <input class="tt-form-control" id="19833520" type="email" placeholder=""  required/>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            
                                        </div>
                                        <!-- /.row -->
                                        
                                        <div class="tt-form-group">
                                            <label>نظر <span class="required">*</span></label>
                                            <textarea class="tt-form-control" id="30945381" rows="6" placeholder="" required></textarea>
                                        </div>
                                        
                                        <div class="tt-col-lg-3">
                                            <div class="tt-form-group">
                                                <label> فایل<span class="small text-gray">*</span></label>
                                                <!-- <div class="fileupload" style=" background-color: rgb(136 136 136 / 15%);color: #fff; cursor: pointer; position: relative; text-align: center; height: 56px;"> -->
                                                <div class="tt-form-control" style="cursor: pointer; position: relative;align-items: center; display: flex;justify-content: center;">
                                                بارگذاری
                                                <input class="tt-form-control" id="19833520+2" type="file" placeholder=""  required style=" cursor: pointer;opacity: 0;position:absolute;top: 0;right: 0; width: 100%;height: 100%;" />
                                            </div>
                                            </div>
                                        </div>
                                        <small class="tt-form-text">فیلدهایی که با ستاره (*) مشخص شدند الزامی هستند!</small>

                                        <!-- Begin post comment reminder -->
                                        <div class="tt-post-comment-reminder">
                                            <div class="tt-form-check tt-form-check-inline">
                                                <input type="checkbox" id="notify-me-new-comment" />
                                                <label for="notify-me-new-comment">وقتی این نظر پاسخی دریافت کرد، به من ایمیل بزنید.</label>
                                            </div>
                                            <div class="tt-form-check">
                                                <input type="checkbox" id="notify-me-new-post" />
                                                <label for="notify-me-new-post">از طریق ایمیل پست های جدید را به من اطلاع دهید.</label>
                                            </div>
                                        </div>
                                        <!-- End post comment reminder -->

                                        <!-- Begin post comment submit button -->
                                        <button type="submit" class="tt-btn tt-btn-primary margin-top-30">
                                            <div data-hover="ارسال نظر">ارسال نظر</div>
                                            <span class="tt-btn-icon"><i class="fas fa-paper-plane"></i></span>
                                        </button>
                                        <!-- End post comment submit button -->
                                    </form>
                            

                                </div>
                                <!-- End sliding sidebar -->
                            </div>
                            <!-- /.tt-section-inner -->
                        
                    </div>
                    <!-- End page content -->

                    <!-- ======================
					///// Begin tt-footer /////
					=========================== -->
                    <footer id="tt-footer">
                        <div class="tt-footer-inner">
                            <!-- Begin footer column
							========================= -->
                            <div class="footer-col tt-align-center-right">
                                <div class="footer-col-inner">
                                    <a href="#" class="tt-btn tt-btn-link scroll-to-top">
                                        <span class="tt-btn-icon"><i class="fas fa-arrow-up"></i></span>
                                        <div data-hover="بازگشت به بالا">بازگشت به بالا</div>
                                    </a>
                                </div>
                                <!-- /.footer-col-inner -->
                            </div>
                            <!-- Begin footer column -->

                            <!-- Begin footer column
							========================= -->
                            <div class="footer-col tt-align-center order-m-last">
                                <div class="footer-col-inner">
                                    <div class="tt-copyright text-gray">
                                        <div data-hover="© تمام حقوق محفوظ و متعلق به شرکت نوین فناوری خبره بنیان است.">© تمام حقوق محفوظ و متعلق به شرکت نوین فناوری خبره بنیان است.</div>
                                    </div>
                                </div>
                                <!-- /.footer-col-inner -->
                            </div>
                            <!-- Begin footer column -->

                            <!-- Begin footer column
							========================= -->
                            <div class="footer-col tt-align-center-left">
                                <div class="footer-col-inner">
                                    <div class="footer-social">
                                       
                                    </div>
                                    <!-- /.footer-social -->
                                </div>
                                <!-- /.footer-col-inner -->
                            </div>
                            <!-- Begin footer column -->
                        </div>
                        <!-- /.tt-section-inner -->
                    </footer>
                    <!-- End tt-footer -->
                </div>
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->

        <!-- Core JS -->
        <script src="{% static "/vendor/jquery/jquery.min.js" %}"></script>
        <!-- jquery JS (https://jquery.com) -->

        <!-- Libs and Plugins JS -->
        <script src="{% static "/vendor/gsap/gsap.min.js" %}"></script>
        <!-- GSAP JS (https://greensock.com/gsap/) -->
        <script src="{% static "/vendor/gsap/ScrollToPlugin.min.js" %}"></script>
        <!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
        <script src="{% static "/vendor/gsap/ScrollTrigger.min.js" %}"></script>
        <!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->

        <script src="{% static "/vendor/smooth-scrollbar.js" %}"></script>
        <!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
        <script src="{% static "/vendor/swiper/js/swiper-bundle.min.js" %}"></script>
        <!-- Swiper JS (https://swiperjs.com/) -->
        <script src="{% static "/vendor/isotope/imagesloaded.pkgd.min.js" %}"></script>
        <!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
        <script src="{% static "/vendor/isotope/isotope.pkgd.min.js" %}"></script>
        <!-- Isotope JS (http://isotope.metafizzy.co) -->
        <script src="{% static "/vendor/isotope/packery-mode.pkgd.min.js" %}"></script>
        <!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
        <script src="{% static "/vendor/lightgallery/js/lightgallery-all.min.js" %}"></script>
        <!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
        <script src="{% static "/vendor/jquery.mousewheel.min.js" %}"></script>
        <!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->

        <!-- Template master JS -->
        <script src="{% static "/js/theme.js" %}"></script>
    </body>
</html>